* {
    font-family: 'IBM Plex Mono', monospace;
}

        
#circle-orbit-container {
    position: relative;
    height: 333px;
    width: 100%;
}

#text-1 {
    position: absolute;
    top: 225px;
    left: 175px;
}

#text-2 {
    position: absolute;
    top: 315px;
    left: 305px;
}

#text-3 {
    position: absolute;
    top: 390px;
    left: 295px;
}

#text-4 {
    position: absolute;
    top: 340px;
    left: 430px;
}

#text-5 {
    position: absolute;
    top: 445px;
    left: 420px;
}

#text-6 {
    position: absolute;
    top: 590px;
    left: 255px;
}

#text-7 {
    position: absolute;
    top: 680px;
    left: 400px;
}

#text-8 {
    position: absolute;
    top: 650px;
    left: 590px;
}

#text-9 {
    position: absolute;
    top: 610px;
    left: 795px;
}

#text-10 {
    position: absolute;
    top: 566px;
    left: 850px;
}
            
#text-11 {
    position: absolute;
    top: 740px;
    left: 820px;
}

#text-12 {
    position: absolute;
    top: 660px;
    left: 930px;
}

#text-13 {
    position: absolute;
    top: 476px;
    right: 509px;
}

#text-14 {
    position: absolute;
    top: 350px;
    right: 508px;
}

#text-15 {
    position: absolute;
    top: 445px;
    right: 365px;
}

#text-16 {
    position: absolute;
    top: 375px;
    right: 235px;
}

/* ---------- Inner orbit - This is the circles closest to the central point ---------- */
#inner-orbit {
    position: absolute;
    top: 279px;
    left: 519px;
    width: 303px;
    height: 306px;
    border: 0.1px #000 solid;
    border-radius: 100%;
    /*-webkit-animation: spin-right 50s linear infinite;
    animation: spin-right 50s linear infinite;*/
    
    font-size: 18px;
}

#inner-text-one {
    position: absolute;
    top: 135px;
    left: 90px;
}

#inner-text-two {
    position: absolute;
    top: 165px;
    left: 76px;
}

/* ---------- Repeating styles for the inner orbiting circles ---------- */
/*.inner-orbit-cirlces {
    position: absolute;
    top: 62px;
    left: -6px;
    height: 10px;
    width: 10px;
    border-radius: 100%;
    background-color: #9F98E6;
}*/

/* ---------- Middle orbit - This is the circles second closest to the central point ---------- */
.middle-orbit {
    position: absolute;
    top: 168px;
    left: 407px;
    width: 525px;
    height: 528px;
    border: 0.3px #000 solid;
    border-radius: 100%;
    -webkit-animation: spin-right 50s linear infinite;
    animation: spin-right 50s linear infinite;
}


/* ---------- Repeating styles for the inner orbiting circles ---------- */
#middle-orbit-cirlce-1 {
    position: absolute;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
    height: 80px;
    width: 80px;
    border-radius: 100%;
    background-color: #6BE483;
}

#middle-text-one {
    position: absolute;
    top: 20px;
    left: 8px;
}

#middle-text-two {
    position: absolute;
    top: 40px;
    left: 25px;
}


#middle-orbit-cirlce-2 {
    position: absolute;
    top: 185px;
    left: -10px;
    /*transform: translateX(-50%);*/
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background-color: #6BE483;
}

#middle-orbit-cirlce-3 {
    position: absolute;
    top: 250px;
    left: -15px;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background-color: #6BE483;
}

#middle-orbit-cirlce-4 {
    position: absolute;
    top: 205px;
    right: -13px;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background-color: #6BE483;
}

#middle-orbit-cirlce-5 {
    position: absolute;
    top: 295px;
    right: -15px;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background-color: #6BE483;
}

#middle-orbit-cirlce-6 {
    position: absolute;
    top: 585px;
    left: 45px;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background-color: #6BE483;
}

#middle-orbit-cirlce-7 {
    position: absolute;
    top: 460px;
    left: 120px;
    height: 80px;
    width: 80px;
    border-radius: 100%;
    background-color: #6BE483;
}

#middle-text-three {
    position: absolute;
    top: 30px;
    left: 10px;
}

#middle-orbit-cirlce-8 {
    position: absolute;
    top: 470px;
    left: 390px;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background-color: #6BE483;
}

/* ---------- Outer orbit - This is the circles furthest away from the central point ---------- */
.outer-orbit {
    position: absolute;
    top: 38px;
    left: 278px;
    width: 788px;
    height: 785px;
    border: 0.5px #000 solid;
    border-radius: 100%;
    -webkit-animation: spin-right 50s linear infinite;
    animation: spin-right 50s linear infinite;
}

/* ---------- Repeating styles for the outer orbiting circles ---------- */
#outer-orbit-cirlces-1 {
    position: absolute;
    top: 265px;
    left: 2px;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background-color: #6BE483;
}

#outer-orbit-cirlces-2 {
    position: absolute;
    top: 335px;
    left: -12px;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background-color: #6BE483;
}

#outer-orbit-cirlces-3 {
    position: absolute;
    top: 565px;
    left: 28px;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background-color: #6BE483;
}

#outer-orbit-cirlces-4 {
    position: absolute;
    top: 632px;
    right: 300px;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background-color: #6BE483;
}

#outer-orbit-cirlces-5 {
    position: absolute;
    top: 723px;
    right: 190px;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background-color: #6BE483;
}

#outer-orbit-cirlces-6 {
    position: absolute;
    top: 385px;
    right: -14px;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background-color: #6BE483;
}

/* ---------- Animation ---------- */
@-webkit-keyframes spin-right {
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }            